*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
h1 {
	text-transform:uppercase;
	margin-top:20px;
	color:white;
}


ul{
	list-style:none;
}

body{
	background-color:#404e7c;
}
.containerIndexTown figure{
	margin:10px 0 10px 0;
}
.pictureIndexTown{
	width:70%;
}
header nav{
	background-color:black;
}

header ul {
	list-style:none;
	padding:2%;
	margin-top:10px;
}
header li {
	margin-top:10px;
}

footer {
	background-color:#000000;
}
footer ul {
	margin-bottom:0;
	list-style:none;
	margin-top:10px;
}
footer li {
	padding:20px;
}
footer a {
	color: white;
}

.menuNavDown a:hover{
		color:black !important;
	}

.menuNavDown{
	right:27px;
		background-color:black !important;
	}
	
.burger{
	 background-color:white;
	}
	
	.logo{
		display:none;
	}
	
	.containerLogo{
	display:none;}


@media screen and (min-width: 762px){
    
    footer{
    margin-top:100px;
    }
    
    footer ul {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:2%;
    }
  header nav{
	background-color:#002642;
	}
	header nav ul li a{
		color:white;
	}
	.burger{
	 background-color:white;
	}
	
	.menuNavDown{
		left:-138px;
		background-color:black !important;
		width:min-content;
	}
	
	.menuNavDown a:hover{
		color:black !important;
	}
	.logo{
	display:block;
		
		width:150%;
	}
	.containerLogo{
	width:45px;
	display:flex;
	justify-content:center;
	display:block;
	}

}