<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<head th:replace="fragment/head.html :: head"></head>
<link rel="stylesheet" href="css/reservation.css">
</head>
<body>
  <header th:replace="fragment/head.html :: top"></header>
  <h1 class="text-center">Reservation</h1>
  
  <h2 class="ml-4">Tickets restants :<span class="text-light ml-4">200</span></h2>
  
  <div id="generic_price_table">   
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                 
                    <div class="price-heading clearfix">
                        <h1 class="mt-3">Nos tarifs</h1>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container">
            
           
            <div class="row">
                <div class="col-md-4">
                
                	
                    <div class="generic_content clearfix">
                        
                      
                        <div class="generic_head_price clearfix">
                        
                            
                            <div class="generic_head_content clearfix">
                            
                          
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Adulte</span>
                                </div>
                            
                                
                            </div>
                          
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">€</span>
                                    <span class="currency">25</span>
                                    <span class="cent">.00</span>
                                    <span class="month">/ticket</span>
                                </span>
                            </div>
                           
                            
                        </div>                            
                        
                        
                      
                        <div class="generic_feature_list">
                        	<ul>
                                <li>accés à un spectacle</li>
                            </ul>
                        </div>
                       
                        
                        
                        <div class="generic_price_btn clearfix">
                        	<a class="" href="#">reserver</a>
                        </div>
                       
                        
                    </div>
                    
                        
                </div>
                
                <div class="col-md-4">
                
                
                    <div class="generic_content active clearfix">
                        
                       
                        <div class="generic_head_price clearfix">
                        
                         
                            <div class="generic_head_content clearfix">
                            
                       
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>V.I.P</span>
                                </div>
                      
                                
                            </div>
                           
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">€</span>
                                    <span class="currency">75</span>
                                    <span class="cent">.50</span>
                                    <span class="month">/ticket</span>
                                </span>
                            </div>
                           
                            
                        </div>                            
                     
                        <div class="generic_feature_list">
                        	<ul>
                        		<li>accès à 2 spectacles de votre choix</li>
                                <li>visite des coulisses avec la troupe et les animaux</li>
                                <li>Votre photo personnalisé avec la troupe</li>
                            </ul>
                        </div>
                      
                        <div class="generic_price_btn clearfix">
                        	<a class="" href="">reserver</a>
                        </div>
                       
                        
                    </div>
                    
                        
                </div>
                <div class="col-md-4">
                
                	
                    <div class="generic_content clearfix">
                        
                      
                        <div class="generic_head_price clearfix">
                        
                           
                            <div class="generic_head_content clearfix">
                            
                            
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>enfant</span>
                                </div>
                             
                                
                            </div>
                      
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">€</span>
                                    <span class="currency">15</span>
                                    <span class="cent">.00</span>
                                    <span class="month">/ticket</span>
                                </span>
                            </div>
                           
                            
                        </div>                            
            
                        <div class="generic_feature_list">
                        	<ul>
                            	 <li>accés à un spectacle</li>
                            </ul>
                        </div>
            
                        <div class="generic_price_btn clearfix">
                        	<a class="" href="">reserver</a>
                        </div>
         
                        
                    </div>
            
                        
                </div>
            </div>	
     
            
        </div>
    </section>             

</div>
  
  <footer th:replace="fragment/head.html :: down"></footer>
  
</body>
<div th:replace="fragment/head.html :: script"></div>
</html>