<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<head th:replace="fragment/head.html :: head"></head>
<link rel="stylesheet" href="css/index.css">
</head>
<body>
  <header th:replace="fragment/head.html :: top"></header>
  <h1 class="text-center">Nos wilders</h1>
  <h3 class="text-center p-1 mt-3 mb-3 text-light"> Ils vous feront voyager</h3>
  <div class="containerIndexTown text-center" id="topTitle">
    <div class="container-fluid text-center cardsIndexContainer" th:each="wilder : ${wilder}"> 
      <div class="card mt-4 ml-4  col-11 col-md-10 col-xl-8" >
        <a href="#"><img th:src="${wilder.picture}" class="card-img-top" alt="..."></a>
        <div class="card-body ">
          <h3 th:text="|${wilder.firstname} ${wilder.name}|"><a href="#">trolo</a></h3>
          <p th:text="${wilder.content}">trolo cirque</p>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="fragment/head.html :: down"></footer>
  
</body>
<div th:replace="fragment/head.html :: script"></div>
</html>